*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    cursor: url("cursor.png") 30 30,auto;
}
body {
    cursor: url('cursor.png') 30 30,auto;
}
section{
    position: left;
    width: 100%;
    min-height: 100vh;
    padding: 100px 100px 0;
    background: linear-gradient(to bottom,#d509a0, #ff606e);
}

section::before{
    content: "MARC";
    position: absolute;
    font-size: 25vw;
    color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    margin-top: 20vh;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo_nike img {
    max-width: 100px;
    cursor: url('cursornegro.png')30 30, auto;

}

.menu-toggle img {
    width: 30px;
    height: 30px;
    cursor: url('cursornegro.png')30 30, auto;
    transition: transform 0.3 ease-in-out;
}
.menu-toggle:hover img {
    transform: scale(1.2);
}
.menu-abierto {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color:rgb(79, 24, 231);
    border-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
    transition: opacity 0.9s ease-in-out;
}

.menu-abierto ul {
    list-style: none;
    padding: 0;
    
}

.menu-abierto li {
    margin: 10px 10px;


}

.menu-abierto a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    padding: 8px;
    border-radius: 5px; 
    transition: background-color 0.3s ease-in-out;
    cursor: url('cursornegro.png')30 30, auto;

}


.menu-toggle:hover + .menu-abierto,
.menu-abierto:hover {
    display: flex;
    cursor: url('cursornegro.png')30 30, auto;

}
.logo img{
    max-width: 100px;
}
.toogle{
    width: 30px ;
    height: 30px;
    background: url(menu.png);
    cursor: url('cursornegro.png')30 30, auto;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor{
    position: relative;
    width: 100%;
    margin-top: 40px;
    
}

.cajaimagen{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.contenedor .cajaimagen img{
    max-width: 100%;
}
.contenedor .texto{
    max-width: 700px;
    margin-top: 20px;
}
.contenedor .texto h2{
    color: #fff;
    font-size: 3.5em;
    font-weight: 800;
    text-transform: uppercase;
}
.contenedor .texto p{
    color: #fff;
    font-size: 1.5em;
}
.contenedor .texto ul{
    color: #fff;
    font-size: 1.5em;
}
button{
    border:0;
    background-image: linear-gradient(
        150deg,
        #9500ff,
        #09F,
        #00DDFF
    );
    border-radius: 8px;
color:#fff;
display: flex;
font-size: 18px;
padding: 4px;
cursor: url('cursornegro.png')30 30, auto;
transition: .3s;

}

button span{
    background-color: #0f0f0f;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .2s;
}
button:hover span {
    background: none;
}
button:active {
    transform: scale(0)
}








